.head{
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: var(--01-theme-colors-02-neutral-color-n-800, #181E34);
}

.headContent{
    display: flex;
    max-width: 1170px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.background{
    width: 1440px;
    height: 40px;
    position: absolute;
    background: var(--01-theme-colors-02-neutral-color-n-800, #181E34);
}